<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>

<body>
<%= Dir.pwd %>
<% require "json" %>
<% File.open("memos.json", mode = "r") do |f| %>
  <% @hash = JSON.load(f)["memos"]%>
<% end%>
<% @hash.each do |c|%>
  <% if c["id"].to_s == params["splat"][0].to_s %>
    <%@i = c["id"]%>
    <%@t = c["title"]%>
    <%@b = c["body"]%>
  <% end%>
<% end%>

<form action="/confirm_edit/<%= @i %>" accept-charset="UTF-8" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <div>
    <label class="form-item__label">タイトル</label>
    <input class="form-item_textarea" type="text" name="title" value="<%= @t %>">
  <div>
  </div>
    <label class="form-item__label">内容</label>
    <textarea name="content" class="form-item_textarea"><%= @b %></textarea>
  </div>
  <input type="submit" value="完了">
</form>
</body>