<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/memo.css" />
  <link rel="stylesheet" href="index.css" />
  <meta charset="utf8">
  <title>top</title>
</head>
<body>
  <div class="title">
    <h1>メモアプリ</h1>
  </div>
  <div class="btnbackground">
    <a href="/create_memo" class="btn">作成</a>
  </div>

  <% require "json" %>
    <% File.open("./memos.json", mode = "r") do |f| %>
      <% @hash = JSON.load(f)["memos"]%>
        <% end%>
          <ul>
          <% @hash.each do |h|%>
            <li>
              <a href="/memo/<%=h['id'] %>" class="memo">
                <%= h h["title"]%>
              </a>
            </li>
          <% end%>
          </ul>
</body>
</html>