<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/memo.css" />
  <link rel="stylesheet" href="index.css" />
  <meta charset="UTF-8">
  <title>top</title>
</head>
<body>
  <div class="title">
    <h1>メモアプリ</h1>
  </div>


  <div class="btnbackground">
    <a href="/create_memo" class="btn">作成</a>
  </div>
          <ul>
          <% @memos.each do |memo|%>
            <li>
              <a href="/memo/<%=memo['id'] %>" class="memo">
                <%= h memo['title'].force_encoding("UTF-8") %>
              </a>
            </li>
          <% end%>
          </ul>
          
</body>
</html>