<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/memo.css" />
  <meta charset="UTF-8">
  <title>memo</title>
</head>

<body>
<% require "json" %>
<% File.open("memos.json", mode = "r") do |f| %>
  <% @hash = JSON.load(f)["memos"]%>
<% end%>
<% @hash.each do |c|%>
  <% if c["id"].to_s == @id.to_s %>
    <%@i = c["id"]%>
    <%@t = c["title"]%>
    <%@b = c["body"]%>
  <% end%>
<% end%>

<div class="title_group">
  <div class="label_title_background">
    <label class="label_title">タイトル</label>
  </div>
  <div class= "title">
    <%=h @t %>
  </div>
</div>
<div class ="content_group">
  <label class="label_content">内容</label>
  <div class = "content">
  <%= h @b %>
  </div>
</div>

<div class='container'>
  <a href="/memo/<%=@i %>/edit" class="btn">編集</a>
  <a href="/" class="btn">戻る</a>
  <form action="/memo/<%=@i %>/delete" accept-charset="UTF-8" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除" class="btn">
  </form>
</div>

</body>
</html>