
body{
  background: #fcfcfc;
}

.title_group .label_title
{
  padding: 30px;
}

.title_group .title
{
  transition    : .3s;         /* なめらか変化 */
  font-size: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  border-style: solid;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: #000066;
  color: #000066;
  background-color: #fcfcfc;
}

.content_group .content
{
  transition    : .3s;         /* なめらか変化 */
  font-size: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  border-style: solid;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: #000066;
  color: #000066;
  background-color: #fcfcfc;
}

.content_group .label_content
{
  padding-left: 30px;
}

.container{
  width: 100%;
  margin-top: 10px;
  display: flex;
  background-color: #fcfcfc;
  justify-content: flex-start;
  border-style: none;
  box-shadow: none;
}

.btn
{
  display       : inline-block;
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 12px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  text-decoration: none;   /* 枠の指定 */
  margin-left: 10px;
  border-radius: 3px;
  border-color: #1e366a;
}
.btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #1e366a;     /* 文字色     */
}
